body {
    margin: 0;
    padding: 0;
    background: #222;
    font-family: 'Lato', serif;
}

a, a:visited {
    color: inherit;
    text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

hr {
    border: none;
    height: 0px;
    border-top: 2pt solid #888;
    width: 100%;
}

header {
    position: relative;
    line-height: 0;
}

header > video, header > img {
    width: 100%;
}

header > .overlay {
    position: absolute;
    background: rgba(23, 21, 39, 0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1;
}

header > .overlay h1 {
    font-size: 60pt;
    font-family: 'Lobster', sans-serif;
    font-weight: normal;
    text-shadow: 0 0 5pt rgb(78, 2, 2); 
}

.landing > .overlay h1 {
    color: rgb(190, 0, 0);
    font-size: 85pt;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    margin: 0;
}

.landing > .overlay small {
    color: white;
    font-size: 20pt;
    font-family: 'Lobster', cursive;
}

header > .nav-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    line-height: 1;
}

nav > ul {
    display: flex;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav > ul > li {
    list-style-type: none;
    text-transform: uppercase;
    margin: 0;
    padding: 8pt 8pt;
    box-sizing: border-box;
}

nav > ul > li.divider {
    visibility: hidden;
    flex-basis: 100%;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
    transition: all 0.4s ease;
    padding: 4pt;
    box-sizing: border-box;
}
nav > ul > li > a:visited {
    color: white;
}

nav > ul > li > a:hover {
    background: white;
    color: #222;
}

nav > ul > li > a.active {
    border-bottom: 3pt solid white;
}

footer {
    background: #222;
    border-top: 5pt solid #444;
    color: #eee;
    font-size: 10pt;
    margin-bottom: 40pt;
}

footer h4 {
    text-align: center;
}

footer .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .row > .col {
    margin: 0 8pt;
}

footer .logos {
    margin-top: 8pt;
}

footer .logos a:not(:last-child) {
    margin-right: 8pt;
}

footer a,  .content:not(.red) a, footer a:visited, .content:not(.red) a:visited {
    color: rgb(53, 167, 212);
    text-decoration: none;
}

footer a:hover, .content a:hover {
    text-decoration: underline;
}

.content {
    background: #eee;
    box-sizing: border-box;
    overflow: hidden;
    padding: 16pt 0;
    color: #222;
    line-height: 1.4;
}

.content blockquote {
    margin-left: 0;
    color: rgb(99, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content blockquote::before {
    content: '\00bb';
    font-size: 24pt;
    margin-right: 8pt;
    margin-top: -3pt;
    
}

.content blockquote::after {
    content: '\00ab';
    font-size: 24pt;
    margin-top: -3pt;
    margin-left: 8pt;
}

.content.red {
    background: rgb(99, 0, 0);
    box-sizing: border-box;
    overflow: hidden;
    padding: 16pt 0;
    color: #eee;
}

.container {
    max-width: 650pt;
    margin: 0 auto;
    padding: 0 16pt;
}



.news-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 16pt -8pt;
}

.news-gallery .facebook{
    min-width: 300px;
    flex-grow: 1;
    margin: 8pt;
    flex-basis: 450px;
    flex-shrink: 1;
}

.facebook:empty {
    height: 450px;
}

article {
    min-width: 300px;
    flex-basis: 450px;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 8pt;
}

article h1 {
    margin-top: 0;
}

article h1 > a, article h1 > a:visited {
    color: inherit !important;
}

article img {
    width: 100%;
    border-radius: 2px 2px 0 0;
}

article .summary {
    padding: 16pt;
}

.event-preview:hover .info {
    text-decoration: underline;
}

.event-preview {
    display: flex;
    align-items: center; 
    margin-bottom: 16pt;
}

.event-preview .calendar {
    border-radius: 3pt;
    border: 2pt solid #eee;
}

.event-preview .calendar .month {
    padding: 2pt 6pt;
    text-align: center;
}

.event-preview .calendar .day {
    background: #eee;
    color: rgb(99, 0, 0);
    text-align: center;
    padding: 2pt;
    font-size: 16pt;
}

.event-preview .time {
    margin-left: 16pt;
    font-size: 16pt;
}

.event-preview .info {
    margin-left: 16pt;
    
}

.event-preview .info h4 {
    margin: 4pt 0;
}

.panel {
    margin: 24pt 0 16pt 0;
    background: rgb(99, 0, 0);
    color: #eee;
    border: 2pt solid rgb(99, 0, 0);
    border-radius: 4pt;
}

.panel > .panel-header {
    color: rgb(99, 0, 0);
    background: #eee;
    border-radius: 3pt 3pt 0 0;
    padding: 4pt;
}

.panel > .panel-header h4 {
    margin: 0;
}

.panel > .panel-body {
    padding: 4pt;
}

.panel > .panel-body p:first-child {
    margin-top: 0;
}

.panel > .panel-body p:last-child {
    margin-bottom: 0;
}

.pages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 8pt -8pt;
}

.pages > .page {
    flex-basis: 250pt;
    height: 200px;
    margin: 8pt;
    flex-grow: 1;
    position: relative;
    line-height: 0;
    overflow: hidden;
}

.page .background {
    width: 100%;
    height: 200px;
    background: #222;
    background-size: cover;
}

.page .overlay {
    background: rgba(23, 21, 39, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32pt;
    font-family: 'Lobster', sans-serif;
    font-weight: normal;
    text-shadow: 0 0 5pt rgb(78, 2, 2); 
}

@media (min-width: 1500px) {
    .container {
        max-width: 800pt;
    }
}

.nav-toggle {
    display: none;
}

@media (max-width: 768px) {

    .nav-toggle {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 8pt;
        top: 8pt;
        background: #222;
        color: white;
        font-size: 16pt;
        height: 29pt;
        width: 29pt;
        padding: 6pt 4pt;
        box-sizing: border-box;
        transition: all 0.4s ease;
    }

    .nav-toggle:hover {
        color: black;
        background: white;
    }

    nav {
        display: none;
    }

    nav.open {
        display: block;
    }

    nav ul{
        display: block;
        background: #222;
        padding: 8pt 0;
    }

    nav ul li {
        padding: 0;
    }

    nav ul li a {
        width: 100%;
        display: block;
        margin: 0;
        padding: 8pt;
    }

    nav ul li a.active {
        background: #444;
        border: none;
    }

    header .overlay h1 {
        font-size: 40pt;
    }

    .landing .overlay h1 {
        font-size: 60pt;
    }
    .landing .overlay small {
        font-size: 15pt;
    }

}

.right {
    text-align: right;
}

a.btn {
    background: white;
    color: rgb(190, 0, 0);
    padding: 8pt;
    border-radius: 4pt;
    transition: all 0.4s ease;
    margin: 4pt;
}

a.btn:hover {
    text-decoration: none;
    background: #aaa;
}

a.btn.btn-blue {
    color: white;
    background: rgb(58, 99, 187);
}

a.btn.btn-blue:hover {
    background: rgb(45, 75, 141);
}

h1.jumbo {
    font-size: 48pt;
}

h1 small {
    display: block;
    font-family: 'Lato', serif;
    font-size: 12pt;
    font-weight: normal;
}