<nav>
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main_left }}
        <li>
            {{ if not .HasChildren }}
                <a class="{{ if $currentPage.IsMenuCurrent "main_left" . }}active{{ end }}" href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
            {{ else }}
                <span class="{{ if $currentPage.HasMenuCurrent "main_left" . }}active{{ end }}">{{ .Pre }}{{ .Name }}</span>
            {{ end }}
            {{ if .HasChildren }}
                <ul class="sub-menu">
                    {{ range .Children }}
                        <li class="{{ if $currentPage.IsMenuCurrent "main_left" . }}active{{ end }}"><a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            {{ end }}
        </li>
        {{ end }}
        <li class="divider"></li>
        {{ range .Site.Menus.main_right }}
        <li><a class="{{ if $currentPage.IsMenuCurrent "main_right" . }}active{{ end }}" href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a></li>
        {{ end }}
    </ul>
</nav>
<div class="nav-toggle"><span class="la la-lg la-navicon"></span></div>