<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{- block "header" . }}{{- end }}
    <div class="wrapper">
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
    </div>
    <script async src="/menu.js"></script>
    <script async src="/countdown.js"></script>
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>

</html>