{{ define "header" }}
    {{- partial "header_image.html" . -}}
{{ end }}

{{ define "main" }}
{{- partial "title.html" . -}}
<div class="content">
    <div class="container {{ if not .Params.nocard }} article-card noclick {{ end }}">
        <div class="summary">
            {{ .Content }}
        </div>
    </div>
</div>
{{ if .Pages }}
<div class="content red">
    <div class="container">
        <h1>Weitere Infos</h1>
        <div class="pages">
            {{ range .Pages }}
                <div class="page">
                    <a href="{{ .RelPermalink }}">
                        <div class="background" {{ if .Resources.GetMatch "header.*" }} style="background-image: url({{ (.Resources.GetMatch "header.*").RelPermalink }});" {{ end }}></div>
                        <div class="text">
                            {{ .Title }}
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
{{ end }}