{{ define "header" }}
    {{- partial "header_image.html" . -}}
{{ end }}

{{ define "main" }}
<div class="content">
    <div class="container">
        {{ .Content }}
    </div>
</div>
{{ if .Pages }}
<div class="content red">
    <div class="container">
        <h1>Weitere Infos</h1>
        <div class="pages">
            {{ range .Pages }}
                <div class="page">
                    <a href="{{ .URL }}">
                        {{ if .Resources.GetMatch "header.*" }}
                            <img src="{{ (.Resources.GetMatch "header.*").RelPermalink }}">
                        {{ else }}
                            <div class="background"></div>
                        {{ end }}
                        <div class="overlay">
                            {{ .Title }}
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
{{ end }}