footer {
    background: $background-dark;
    color: #eee;
    font-size: 10pt;
    margin-bottom: 40pt;
}

footer h4 {
    text-align: center;
}

footer .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .row > .col {
    margin: 0 8pt;
}

footer .logos {
    margin-top: 8pt;
}

footer .logos a:not(:last-child) {
    margin-right: 8pt;
}

footer a,  .content:not(.red) a, footer a:visited, .content:not(.red) a:visited {
    color: rgb(53, 167, 212);
    text-decoration: none;
}

footer a:hover, .content a:hover {
    text-decoration: underline;
}