header {
    position: relative;
    line-height: 0;
}

header video, header img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
}

header > .overlay {
    position: absolute;
    background: rgba(23, 21, 39, 0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1;
}

header > .overlay h1 {
    font-size: 60pt;
    font-family: 'Lobster', sans-serif;
    font-weight: normal;
    text-shadow: 0 0 5pt rgb(78, 2, 2); 
}

.landing > .overlay h1 {
    color: $background-red;
    font-size: 85pt;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    margin: 0;
}

.landing > .overlay small {
    color: white;
    font-size: 20pt;
    font-family: 'Lobster', cursive;
}

@media (max-width: 800px) {
    .landing > .overlay h1 {
        font-size: 56pt;
    }

    .landing > .overlay small {
        font-size: 15pt;
    }
}