$headline-font: 'Oswald', sans-serif;
$text-font: 'Lato', serif;
$link-color: rgb(53, 167, 212);
$link-color-red: rgb(132, 200, 255);

$background-grey: #f4f8fb;
$background-red: #b71c1c;
$background-dark: #222;